body, input {
    font-family: Helvetica;
    font-size: 25px;
    margin:50 auto;
    text-align: center;
}

a:link{color:#0000EE}
a:active{color:#EE0000}
a:visited{color:#0000EE}
a:hover{color:#0000EE}
